<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190539399139-34hhjsjc4hffasesqlglbafdoee5ufsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190539399139-34hhjsjc4hffasesqlglbafdoee5ufsl</string>
	<key>API_KEY</key>
	<string>AIzaSyANkRMkEScYh7IEDgvQZN-aUqQTjThc7fg</string>
	<key>GCM_SENDER_ID</key>
	<string>190539399139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parkjin.free-talking.Free-Talking</string>
	<key>PROJECT_ID</key>
	<string>freetalking-10d39</string>
	<key>STORAGE_BUCKET</key>
	<string>freetalking-10d39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190539399139:ios:c1d4cc67820cc4ca89ead6</string>
	<key>DATABASE_URL</key>
	<string>https://freetalking-10d39.firebaseio.com</string>
</dict>
</plist>